<!DOCTYPE HTML>
<html>

<head>
    <!-- Meta Data -->
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
    <meta name="description" content="Python Interpreter with syntax checking and error help">
    <meta name="keywords" content="Lint,Online,Editor,Python,Syntax-Checking">
    <meta name="author" content="Ethan Chiu">
    <title>PythonBuddy + Pycee</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.12/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.12/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.12/dist/js/uikit-icons.min.js"></script>
    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='codemirror/lib/codemirror.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/lib/python.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/lib/lint.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cm-validator-remote.js') }}" type="text/javascript"></script>
    <!--Codemirror Addons-->
    <script src="{{ url_for('static', filename='codemirror/addon/search.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/addon/searchcursor.js') }}"></script>
    <script src="{{ url_for('static', filename='codemirror/addon/dialog.js') }}"></script>
    <!-- Socket IO -->
    <!--script src="{{ url_for('static', filename='js/socket.io/2.1.1/socket.io.js') }}"></script-->
    <!-- Require.js -->
    <script src="{{ url_for('static', filename='js/require.js/2.3.5/require.min.js') }}"></script>
    <!-- Custom Style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='codemirror/lib/codemirror.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='codemirror/lib/lint.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='codemirror/addon/dialog.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script>
                var RUN_CODE = "{{ url_for('run_code') }}";
                var CHECK_CODE = "{{ url_for('check_code') }}";

    </script>
</head>

<body>
<div id="content" class="uk-section">        
    <!-- Head Text -->
    <div class="uk-container uk-margin-medium uk-text-center" id="heading">
        <h1 class="uk-heading-bullet uk-margin-small">Python Buddy + Pycee</h1>
        <h4 class="uk-text-light uk-margin-small">Code editor with syntax checker and error assistant included</h4>        
    </div>
    <!-- code input -->
    <div class="uk-container uk-margin-small" id="codemirror">
        <textarea id="text-editor"></textarea>
        <!-- Examples and run buttons-->
        <p class="uk-align-right uk-margin-small" uk-margin>
            <button id="run" class="uk-button uk-button-deafult uk-text-bold">Run</button>
            {% include 'index/examples_button.html' %}
        </p>
    </div>
    <!-- Code output -->
    <div class="uk-container uk-margin-medium" id="code-output">
        <h3>Code output</h3>
        <pre></pre>
    </div>
    <!-- Linter output is loaded via ajax (see javascript.js)-->
    <!-- Stackoverlow output -->
    <!-- Pycee hint -->

</div>
<footer id="page-footer">
    <div class="uk-container uk-padding-small uk-text-center">
        <p class="uk-text-small">
            Created by <a href="https://github.com/ethanchewy" target="_blank">Ethan Chiu</a> </br>
            Extended by <a href="https://github.com/marcelofa" target="_blank">Marcelo Freitas</a> 
            and <a href="https://github.com/LeonardoFurtado" target="_blank">Leonardo Furtado</a>
        </p>
    </div>
</footer>

</body>
<script src="{{ url_for('static', filename='js/javascript.js') }}" type="text/javascript"></script>

</html>
